<!DOCTYPE html>
<html>
<head>
  <title>Word Counter</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <style>
  body
  {
    background-color: lightblue;
  }
  </style>
</head>
<body>

  <h1>Word Counter</h1>
  <form action="/count">
    <label for="new-word">Enter a word</label>
    <input id="new-word" name="new-word" type="text" class="form-control"><br>

    <label for="new-sentence">Add a sentence or list of words</label>
    <input id="new-sentence" name="new-sentence" type="text" class="form-control"><br>

    <button type="submit">Submit</button>
  </form><br>
  <a href="/">Home</a>
</body>
