<!DOCTYPE html>
<html>
<head>
  <title>Word Counter</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <style>
  body
  {
    background-color: lightblue;
  }
  </style>
</head>
<body>
  <div class="container">
    <h1>Result</h1>

    <p><em>Word:</em> @Model.GetInputWord()</p>
    <p><em>Sentence/list of words:</em> @Model.GetInputSentence()</p>
    <p>The word <strong><font color="red">"@Model.GetInputWord()"</font></strong> was appeared <strong><font color="red">@Model.CountMatching()</font></strong> times</p>

    <a href="/wordcounter/play">Play Again</a>
  </div>
</body>
<html>
