<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
    body
    {
      background-color: lightblue;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Result</h1>
      <p>Word: @Model.GetInputWord()</p>
      <p>The word *" + inputWord + "*" + " was entered " + count + " times</p>


      <a href="/wordcounter/play">Play Again</a>


      <a href="/wordcounter/play">Click Here to play!</a>
    </div>
  </body>
